
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/aspectjweaver-1.6.11.jar
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/commons-logging-1.1.3.jar
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/cors-filter-2.6.jar
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/dom4j-1.6.1.jar
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/gson-2.8.5.jar
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/hamcrest-core-1.3.jar
projects/order/orderController/target/orderController-0.0.1-SNAPSHOT/WEB-INF/lib/hibernate-commons-annotations-5.0.1.Final.jar
