<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Subject Details</title>
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript">
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope, $http) {
	$scope.add=function() {
		var reqJson=$scope.question ;
		$http.post(restUrl+'saveSubjectDetails',
				 JSON.stringify(reqJson),{headers: {'Accept': 'application/json','Content-Type': 'application/json'}})
		        .then(function (response) {
		            //alert( response);
		        });
	};
	$scope.loadData=function() {
		var reqJson=$scope.question ;
		$http.get(restUrl+'subject/'+$scope.question.subjectId,
				 JSON.stringify(reqJson),{headers: {'Accept': 'application/json','Content-Type': 'application/json'}})
		        .then(function (response) {
		        	//console.log(response);
		        	$scope.question.subjectDesc=response.data.subjectDesc;
		        });
	};
	
	
});
</script>

</head>
<body ng-app="myApp" ng-controller="formCtrl">
<div class="page-header">
    <h1 align="center">Subject Details</h1>
  </div>
<table class="container-fluid">
<tr>
<td>
Subject Id
</td>
<td>
				<input type="text" id="subjectId"  name="subjectId"  ng-model="question.subjectId">
			</td>
</tr>
<tr>
<td>
<input  class="btn-primary" type="button" ng-click="loadData()" value="Load">
</td>
</tr>
<tr>
<td>
Subject Description
</td>
<td>
				<input type="text" id="subjectDesc"  name="subjectDesc"  ng-model="question.subjectDesc">
			</td>
</tr>
<tr>
</tr>

<tr>
<td>
<input  class="btn-primary" type="button" ng-click="add()" value="Add">
</td>
<td>
<a href=".">
<input class="btn-primary" type="button"  value="Menu">
</a>
</td>
</tr>
</table>
</body>
</html>