<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
  <property name="hibernate.connection.username">aamir</property>
  <property name="hibernate.connection.password">aamir</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
  <property name="hibernate.default_schema">aamir</property>
  <property name="show_sql">true</property>
  <mapping class="org.myProject.common.model.Subject"/>
  <mapping class="org.myProject.common.model.SubjectClassification"/>
   <mapping class="org.myProject.common.model.ApplicationInfo"/>
   <mapping class="org.myProject.common.model.Question"/>
   <mapping class="org.myProject.common.model.LoginUser"/>
</session-factory>
</hibernate-configuration>