<?xml version="1.0" encoding="UTF-8"?>

<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xsi:schemaLocation="http://java.sun.com/xml/ns/persistence 
   http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
   
   <persistence-unit name="myProjectDS" transaction-type="RESOURCE_LOCAL">
    <class>org.myProject.common.model.ApplicationInfo</class>
   <class>org.myProject.common.model.Subject</class>
   <class>org.myProject.common.model.Question</class>
    
   <class>org.myProject.common.model.LoginUser</class>
   

      <properties>
         <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
         <property name="javax.persistence.jdbc.user" value="aamir"/>
         <property name="javax.persistence.jdbc.password" value="aamir"/>
         <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.driver.OracleDriver"/>
         <property name="myProjectDS.logging.level" value="FINE"/>
         <property name="myProjectDS.ddl-generation" value="create-tables"/>
      </properties>
      
   </persistence-unit>
</persistence>