<div>
<mat-card>{{question}}</mat-card>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile (click)="opt1()" id="opt1">{{option1}}</mat-grid-tile>
  <mat-grid-tile (click)="opt1()" id="opt2">{{option2}}</mat-grid-tile>
  <mat-grid-tile (click)="opt1()" id="opt3">{{option3}}</mat-grid-tile>
  <mat-grid-tile (click)="opt1()" id="opt4">{{option4}}</mat-grid-tile>
</mat-grid-list>
  <mat-chip-list aria-label="Next">
    <mat-chip  (click)="next()">Next</mat-chip>
    <mat-chip (click)="previous()">Previous</mat-chip>
    </mat-chip-list>
  <mat-progress-bar mode="determinate" value="{{index/totalQuestions * 100}}"></mat-progress-bar>
</div>