@CHARSET "ISO-8859-1";
/*
.table1 { font-family:MS Sans Serif, Arial, Helvetica; font-size:9pt; color:#000000; font-weight:bold; text-decoration:underline }
td{
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
	color:#000000;
	width : 100px     
}

table.table2 td{
	width : 200px;
	background-color: blue
}
.td1{
	width : 200px;
	background-color: yellow
}

*/
div.addBox div{
	border-radius:25px;
	background-color:#FF99CC ;
	 margin: 200px ;
}
div.addBox table{
	 /*left:100px ; top : 100px ;position:static; margin-left: 100px ; margin-top: 100px ;*/
}
div.addBox td{
	padding: 30px
}
div.addBox th{
	-webkit-column-span: 2;
	padding:30px 
}

div.viewBox div{
	border-radius:25px;
	background-color:#3399CC ;
	
	 margin: 200px ;
}
div.viewBox th{
	border-color:navy; 
	-webkit-column-span: 2;
	padding:30px;
	background: linear-gradient(0deg, #66FFCC, #6600CC); 
}
 
div.viewBox tr{
	padding: 30px
	border-width:thick;
	border-color:navy; 
}

.row1{

	background-color:#66CCCC ;
}
.row0{
	
	
	background-color:#66FFCC ;
}
