<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add User</title>
</head>
<body>
<form id="addUser" name="addUser">
<table>
<tr>
	<td>
		User ID
	</td>
	<td>
		<input type="text" name="userId" id="userId" ng-model="user.userId">
	</td>
</tr>
<tr>
	<td>
		Password
	</td>
	<td>
		<input type="password" name="userPassword" id="userPassword" ng-model="user.userPassword">
	</td>
</tr>
<tr>
	<td>
		User Name
	</td>
	<td>
		<input type="text" name="userName" id="userName" ng-model="user.userName">
	</td>
</tr>

</table>
</form>
</body>
</html>